<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="index">


<head>
    <meta charset="UTF-8" th:remove="all" />
</head>

<body>
	<div layout:fragment="right">
		<div class="main_post" th:each="post : ${posts}">
			<div class="main_post2 clearfix" >
				<a href="/posts/1" th:href="@{'/posts/' + ${post.id}}"> 
					<img th:src="@{'/posts/' + ${post.id} + '/post-image.jpg'}" src="/avatars/original/missing.png" alt="Missing" />
				</a> 
			<!--  <th:block th:if="${login_user != null} ? ${login_user.id.equals(loginUser.userId)}"> -->

				 	<div class="more">
         				 <span>■</span>
           					 <ul class="more_list">
           				 		<li>
            						<a th:href="@{'/post/' + ${post.id}}">To BOX</a>
            					</li>
           					</ul>
           			</div> 

         	<!-- </th:block> -->
         	<a href="/posts/1" th:href="@{${post.store.url}}">
         	     <span class="store" th:text="${post.store.name}"></span>
         	</a>
         <a href="/posts/1" th:href="@{'/posts/' + ${post.id}}">  
			<span class="name" th:text="${post.user.name}"></span>
		 </a>
		</div>
   	</div>
   </div>
</body>
</html>