<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="/css/setting.css" />
<link rel="stylesheet" href="/css/style.css" />
<title>New Post Page</title>
</head>
<body>
    <header class="header">
        <div class="header__bar row">
            <h1 class="grid-6">
                <a href="/">mapcamp</a>
            </h1>
            <div class="grid-6 user_nav">
                <a class="post" href="/post/new">投稿する</a>
            </div>
        </div>
    </header>
    <div class="contents row">
        <div class="container">
            <form th:action="@{/post/new}" method="post">
                <h3>投稿する</h3>
                <input placeholder="Nickname" type="text" name="name" value="" />
                <input placeholder="Image Url" type="text" name="image" value="" />
                <textarea placeholder="comment" cols="30" rows="10" name="comment"></textarea>
                <input type="submit" value="SEND" />
            </form>
        </div>
    </div>
    <footer>
        <p>Copyright mapcamp 2018.</p>
    </footer>
</body>
</html>