<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="content">

<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="/css/posts/post_setting.css" />
<link rel="stylesheet" href="/css/registration.css" />
<link rel="stylesheet" href="/css/posts/post__main_style.css" />
<title>Show Page</title>
</head>
<body>
    <div layout:fragment="main"> 
    <div class="contents row" th:object="${post}">
      <div class="content__post">
        <img th:src="@{'/posts/' + ${post.id} + '/post-image.jpg'}" src="/avatars/original/missing.png" alt="Missing" />
		<div class="more">
                <span>■</span>
                <ul class="more_list">
                     <th:block th:if="${loginUser != null} ? ${post.user.id.equals(loginUser.userId)}">
                        <li><a
                            th:href="@{'/posts/' + ${post.id} + '/edit'}">編集</a></li>
                        <li>
                            <form
                                th:action="@{'/posts/' + ${post.id} + '/delete'}"
                                method="post">
                                <input type="submit" value="削除" />
                            </form>
                        </li>
                    </th:block>
                </ul>
            </div>
          </div>    
        <span>Yummy</span>
        <span class="star"><span class="rating-star"><i th:classappend="'rate-' + ${post.yummy * 10}" class="star-actived"></i></span></span>
        <span>Clean</span>
        <span class="star"><span class="rating-star"><i th:classappend="'rate-' + ${post.clean * 10}" class="star-actived"></i></span></span>
        <span>Staff</span>
        <span class="star"><span class="rating-star"><i th:classappend="'rate-' + ${post.staff * 10}" class="star-actived"></i></span></span>
        <span>Speed</span>
        <span class="star"><span class="rating-star"><i th:classappend="'rate-' + ${post.speed * 10}" class="star-actived"></i></span></span>
       

 
       <span class="name">
       	<br><span>■投稿者</span><a th:href="@{`/user/` + ${user.id}}" th:inline="text"><span th:text="${post.user.name}">tech太郎</span>
                </a></br>
            </span>   
            
           <!-- <p th:text="${post.stores_store.name}"></p> -->
           ■Category
        <p th:text="*{category}"></p>   

            
              ■投稿者コメント
        <p th:text="*{text}"></p>   
        </div>    
         
         <div class="container">

       <th:block th:if="${loginUser != null}">

            コメント機能
            <form method="post" th:action="@{'/posts/' + ${post.id} + '/comment'}" th:object="${commentForm}">
                <textarea cols="30" name="comment" placeholder="コメントする" rows="2"></textarea>
                <input type="submit" value="SEND" />
            </form>
        </th:block>
             <div class="comments">
                <h4>＜コメント一覧＞</h4>
                <p th:if="post.comments != null" th:each="comment : ${post.comments}"  th:inline="text">
                    <strong><span th:text="${comment.user.name}">投稿者名</span></strong>
                    <span th:text="${comment.text}">コメント</span>
                </p>
            </div>


        </div>
        
 </div>
    
</body>
</html>
