<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="/css/posts/post_setting.css" />
<link rel="stylesheet" href="/css/posts/post_style.css" />
<title>Show Page</title>
</head>
<body>
    <header class="header">
        <div class="header__bar row">
            <h1 class="grid-6">
                <a href="/">mapcamp</a>
            </h1>
            <div class="grid-6 user_nav">
                <th:block th:if="${login_user != null}">
                    <a class="post" href="/posts/new">投稿する</a>
                    <form th:action="@{/user/logout}" method="post">
                        <input type="submit" value="ログアウト" />
                    </form>
                </th:block>
                <th:block th:if="${login_user == null}">
                    <a class="post" href="/user/login">ログイン</a>
                    <a class="post" href="/user/registration">登録</a>
                </th:block>
            </div>
        </div>
    </header>
    <div class="contents row" th:object="${post}">
        <div class="content__post" th:style="'background-image: url(' + @{*{image}} + ');'">
            <div class="more">
                <span>■</span>
                <ul class="more_list">
                    <th:block
                        th:if="${login_user != null} ? ${post.user.id.equals(login_user.id)}">
                        <li><a
                            th:href="@{'/posts/' + ${post.id} + '/edit'}">編集</a></li>
                        <li>
                            <form
                                th:action="@{'/posts/' + ${post.id} + '/delete'}"
                                method="post">
                                <input type="submit" value="削除" />
                            </form>
                        </li>
                    </th:block>
                </ul>
            </div>
            <p th:text="*{shopname}"></p>
            <span class="name">
                <a th:href="@{`/user/` + ${user.id}}" th:inline="text">
                    <span>投稿者</span><span th:text="${post.user.name}">tech太郎</span>
                </a>
            </span>     
        </div>
        <p th:text="*{comment}"></p>
        <!-- <div th:if="${login_user != null}" class="container">
            コメント機能
            <form method="post" th:action="@{'/posts/' + ${post.id} + '/comment'}" th:object="${commentForm}">
                <textarea cols="30" name="comment" placeholder="コメントする" rows="2"></textarea>
                <input type="submit" value="SEND" />
            </form>
            
             <div class="comments">
                <h4>＜コメント一覧＞</h4>
                <p th:if="post.comments != null" th:each="comment : ${post.comments}"  th:inline="text">
                    <strong><span th:text="${comment.user.name}">投稿者名</span></strong>
                    <span th:text="${comment.text}">コメント</span>
                </p>
            </div>
            
        </div> -->
        
    </div>
    <footer>
        <p>Copyright mapcamp 2018.</p>
    </footer>
</body>
</html>