<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="content">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="/css/posts/post_setting.css" />
<link rel="stylesheet" href="/css/posts/post_main_style.css" />
<title>Post Edit Page</title>
</head>
<body>
    <div layout:fragment="main">
    <div class="contents row">
        <div class="success">
            <h3>編集が完了しました。</h3>
            <a class="btn" href="/">投稿一覧へ戻る</a>
        </div>
    </div>
    </div>
</body>
</html>