<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="content">

<head>
<meta charset="UTF-8" th:remove="all" />
<title>My Page</title>
<!-- <link rel="stylesheet" type="text/css" href="../css/mypage.css" /> -->
</head>

<body>
	<div layout:fragment="main">
	<div class="contents row" th:object="${user}">
      <div class="content__post">
      
	<th:block th:if="${loginUser != null} ? ${user.id.equals(loginUser.userId)}">
 <div class="icon"><img th:src="@{'/users/' + ${user.id} + '/profile-image.jpg'}" src="/avatars/original/missing.png" alt="Missing" /></div> -->
	<p class="post" th:text="${loginUser.name}">Guest</p>さんのMypage


			<br>■Name</br>
	        <p th:text="*{name}"></p>   
			■Email
	        <p th:text="*{email}"></p>   
	        ■BirthDay
	        <p th:text="*{birthday}"></p>   
	        ■Sex
	        <p th:text="*{sex}"></p>  
	        
	        <a th:href="@{'/user/' + ${user.id} + '/edit'}">Edit User Information</a>
	        
	        </th:block>
	        
	        <th:block th:unless="${loginUser != null} ? ${user.id.equals(loginUser.userId)}">
	        <p>You are not this user.</p>
	        </th:block>
	        

</div>
</div>


			</div>

</body>
</html>