<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>サインアップ</title>
	<link rel = "stylesheet" type="text/css" href="../css/registration.css"/>
</head>

<body class="yj950-2">

	<div class="bgcolor-white pt1em pb1em" id="contents"
		layout:fragment="content">
		<div id="main_cnt_wrapper">
			<div id="yjContentsBody">
				<div class="yjContainer">
					<div class="form_box">
						<h2>
							mapcamp<br />
							<span>新規登録</span>
						</h2>

						<form th:action="@{/user/registration}" th:object="${userForm}"
							class="new_user" id="new_user" enctype="multipart/form-data"
							action="/user" accept-charset="UTF-8" method="post">

							<div class="label">
								<label for="user_email">Email</label><br /> <input
									th:field="*{email}" autofocus="autofocus"
									placeholder="メールアドレスを入力" type="email" value="" name="email"
									id="user_email" />
							</div>

							<div class="label">
								<label for="user_password">Password</label> <br /> <input
									th:field="*{password}" autocomplete="off"
									placeholder="パスワードを入力" type="password" name="password"
									id="user_password" />
							</div>

							<div class="label">
								<label for="user_password_confirmation">Password
									confirmation</label><br /> <input th:field="*{confirmPassword}"
									autocomplete="off" placeholder="パスワードを入力（確認）" type="password"
									name="confirmPassword" id="user_password_confirmation" />
							</div>

							<div class="label">
								<label for="user_name">Name</label><br /> <input
									th:field="*{name}" placeholder="ネームを入力（必須）" type="text"
									name="name" id="user_name" />
							</div>

							<div class="field">
								<input th:field="*{file}" type="file" name="file"
									id="user_avatar" />
							</div>

<!-- 							<div class="label">
								<label for="birthday">Birthday</label><br /> <input
									th:field="*{birthday}" placeholder="生年月日" type="date"
									name="birthday" id="birthday" />
							</div>

							<div class="label">
								<label for="sex">sex</label><br /> 
								<input th:field="*{sex}" placeholder="性別" type="radio"
									name="sex" id="sex" value="female" />　女性
								<input th:field="*{sex}" placeholder="性別" type="radio"
									name="sex" id="sex" value="male" />　男性　
							</div> -->
							

							<div class="submit">
								<div class="actions">
									<input type="submit" name="commit" value="Create User" />
								</div>
							</div>

							<div class="more_link_box">
								<strong>すでにアカウントを持っていますか？</strong> <a href="/login">Log
									in</a><br />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>
