

.mainbox{
	margin: 0 auto;
	padding: 0 10px;
    width: 100%;
}

.left{
	width: 394px;
	height:570px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
    vertical-align: top;
   text-align: center;
    border: 1px solid #191919;
    float: left; 
}

.right{
	margin-top: 13px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	display: inline-block;
    vertical-align: top;
    float: left;
    width: 1000px;
    height: auto;
   
}

.right_top{
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 100px;
	display: inline-block;
    vertical-align: top;
    float: left;
    width: 500px;
    height: 60px;
   
}

.search_box{
display: table;
/* 	margin: 0.5em auto;
	padding: 0;
	border: 1px solid #0e0e0e; */
	padding: 0;
	width: 90%;
	height: 90%;
}

/* form.post form.search {
	right: 50px;
	
} */

.wannago{
	margin-left: 1em;
}

.wannago_posts{
	margin: 0;
	width: 90%;
	height: 400px;
	overflow-y: auto;
	
}

.wannago_box{
    display: table;
	margin: 0.5em auto;
	padding: 0;
	border: 1px solid #0e0e0e;
	width: 90%;
	height: 400px;
}

.wannago_box.more.more_list ul li{
	display: inline-block;
}

.wannago_box img{
	max-width: 50%;
	height: 300px;
}

.wannago_box:hover{
    box-shadow:3px 3px 6px rgba(0,0,0,0.5);
}

.transe{
	display: table;
	margin: 0.5em auto;
	padding: 0;
	border: 1px solid #c5c5c5;
	width: 90%;
	height: 200px;
}

.transe:hover{
    box-shadow:3px 3px 6px rgba(0,0,0,0.5);
}

#route:hover{
       box-shadow:3px 3px 6px rgba(0,0,0,0.5);
}


#route{
       padding: auto 0;
       display:inline-block;
       height: 2em;
       width: 6em;
       border: 1px solid #0e0e0e;
       text-align: center;
       vertical-align: center;
       margin-right: 0.5em;
}

.transe p{
	display: table-cell;
text-align: right;
vertical-align: bottom;
	padding-bottom: 1em;
	padding-right: 1em;
	color: #c5c5c5;
}

.wannago_box p {
	display: table-cell;
   text-align: right;
    vertical-align: bottom;
	padding-bottom: 1em;
	padding-right: 1em;
}

.wannago_box a {
	display: block;
    width: 100%;
    height: 100%;

	}