.mainbox{
	margin: 0 auto;
	padding: 0 10px;
 
    width: 100%;
}



.left{
	width: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
    vertical-align: top;
   
    border: 1px solid #191919;
}

.right{
	min-width: 600px;
	max-width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
    vertical-align: top;
   
    border: solid 1px #141414;
}

.wannago{
	margin-left: 1em;
}

.wannago_posts{
	margin: 0;
	
}

.wannago_box{
display: table;
	margin: 0.5em auto;
	padding: 0;
	border: 1px solid #0e0e0e;
	width: 90%;
	height: 200px;
}

.wannago_box:hover{
    box-shadow:3px 3px 6px rgba(0,0,0,0.5);
}

.transe{
	display: table;
	margin: 0.5em auto;
	padding: 0;
	border: 1px solid #c5c5c5;
	width: 90%;
	height: 200px;
}

.transe:hover{
    box-shadow:3px 3px 6px rgba(0,0,0,0.5);
}

.transe p{
	display: table-cell;
text-align: right;
vertical-align: bottom;
	padding-bottom: 1em;
	padding-right: 1em;
	color: #c5c5c5;
}

.wannago_box p {
	display: table-cell;
text-align: right;
vertical-align: bottom;
	padding-bottom: 1em;
	padding-right: 1em;
}