<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="/css/reset.css" />
<link rel="stylesheet" href="/css/header.css" />
<title>Map Camp</title>
</head>
<body>
	<header class="header">
			<h1>
				<a href="/">Map Camp</a>
			</h1>
			<div class="user_nav">
				<th:block th:if="${login_user != null}">
					<div class="icon"
						th:style="background-image: url(' + @{${loginUser.image}} + ');'"></div>
					<a class="post" href="/" th:text="${login_user.name}">Guest</a>
					<a class="post" href="/post/new">投稿する</a>
					<form th:action="@{/user/logout}" method="post">
						<input type="submit" value="ログアウト" />
					</form>
				</th:block>
				<th:block th:if="${login_user == null}">
				<div class="icon"></div>
					<a class="post" href="/" th:text="'Guest'">Guest</a>
					<a class="post" href="/user/login">ログイン</a>
					<a class="post" href="/user/registration">登録</a>
				</th:block>
			</div>
	</header>
	
	<div class="content" layout:fragment="content"></div>
	
	<div class="adv" layout:fragment="adv">PR</div>
	
	<div class="footer">
        Copyright mapcamp 2018.
    </div>
	
	</body>
	</html>
	