<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="/css/reset.css" />
<link rel="stylesheet" href="/css/header.css" />
<link rel="stylesheet" href="/css/index.css" />
<!-- <link rel="stylesheet" href="/css/posts/post_setting.css" /> -->
<link rel="stylesheet" href="/css/posts/post_main_style.css" />
<title>Map Camp</title>
</head>
<body>
	<header class="header">

			<h1>
				<a href="/">Map Camp</a>
			</h1>
			<div class="user_nav">
				<th:block th:if="${loginUser != null}">
			 <!-- <div class="icon"
						th:if="${loginUser.profileImage != null}"
						th:style="background-image: url(' + @{${loginUser.profileImage}} + ');'"></div> -->
             <div class="icon" th:if="${loginUser.profileImage == null}">
						<img th:src="@{'/users/' + ${user.id} + '/profile-image.jpg'}" src="/avatars/original/missing.png" alt="Missing" /></div>
					 <a href="/user/1" class="post" th:href="@{'/user/' + ${loginUser.userId}}" th:text="${loginUser.name}">Guest</a>

					<a class="post" href="/posts/new">投稿する</a> //チェック
					<form th:action="@{/logout}" method="post">
						<input type="submit" value="ログアウト" />
					</form>
				</th:block>
				<th:block th:if="${loginUser == null}">

				<div class="icon"></div>
				<a class="post" href="/" th:text="'Guest'">Guest</a>
				<a class="post" href="/login">ログイン</a>
				<a class="post" href="/user/registration">登録</a>
			</th:block>
		</div>
	</header>

	<div class="content" layout:fragment="content"></div>

	<!-- 	<div class="adv" layout:fragment="adv">
		<p style="text-align: center">
			<a href="https://r.gnavi.co.jp/6uj0v1uz0000/"> <img
				src="http://uds.gnst.jp/rest/img/6uj0v1uz0000/s_0003.jpg?t=1427827068"
				height="80" width="33%" />
			</a> <a href="https://r.gnavi.co.jp/b5p3dds20000/"> <img
				src="http://uds.gnst.jp/rest/img/b5p3dds20000/s_000f.jpg?t=1427827076"
				height="80" width="33%" />
			</a> <a href="https://r.gnavi.co.jp/7up4cuvr0000/"> <img
				src="http://uds.gnst.jp/rest/img/7up4cuvr0000/s_0n9m.jpg?t=1522114531"
				height="80" width="33%" />
			</a>
		</p>
	</div>


	<div class="footer">Copyright mapcamp 2018.</div>
 -->
</body>
</html>
