<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="index">
<head>
<meta charset="UTF-8"/>
</head>

<body>
	<div layout:fragment="right_top">
		<div class="search_box">
			<!-- 検索フォーム -->
			<form th:action="@{/searchform}" method="post">
				<!--  <tr>
			<td>キーワード検索</td>
			<td><input type="text" name="keyword_s" size="20"
				th:value="*{value}" /></td>
		</tr>-->
				<tr>
					<td>カテゴリー検索</td>
					<td><input type="text" name="category_s" size="20" value="" /></td>
				</tr>
				<!-- <tr>
			<td>評価検索</td>
			<td><input type="text" name="rate_s" size="20"
				th:value="*{value}" /></td>
		</tr>  -->
				<tr>
					<td><input type="submit" value="search" /></td>
				</tr>
			</form>
		</div>
	</div>
</body>
</html>