<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="index">
	
<head>
<meta charset="UTF-8" />
<!--  <link rel="stylesheet" href="/css/posts/post_setting.css" />
<link rel="stylesheet" href="/css/registration.css" />
<link rel="stylesheet" href="/css/posts/post_style.css" /> -->
<title>search Page</title>
</head>

<body>
<div layout:fragment="right">
		<!-- <hr></hr>
 -->
		<!-- テスト -->
		<div class="main_post" th:each="searchShow : ${searchShows}">
			<div class="main_post2 clearfix" >
				<a href="/posts/1" th:href="@{'/posts/' + ${searchShow.id}}"> 
					<img th:src="@{'/posts/' + ${searchShow.id} + '/post-image.jpg'}" src="/avatars/original/missing.png" alt="Missing" />
				</a> 

				 	<!-- <div class="more">
         				 <span>■</span>
           					 <ul class="more_list">
           				 		<li>
           				 		<form
                                th:action="@{'/' + ${post.id} + '/add'}"
                                method="post">
                                <input type="submit" value="ToBox" />
                                </form>
            					</li>
           					</ul>
           			</div>  -->

         	<a href="/posts/1" th:href="@{${searchShow.stores.url}}" target="_blank">
         	     <span class="store" th:text="${searchShow.stores.name}"></span>
         	</a>


         <a href="/posts/1" th:href="@{'/user/' + ${searchShow.user.id}}">  
			<span class="name" th:text="${searchShow.user.name}"></span>
		 </a>
		</div>
   	</div>

	<!--
	検索結果表示 th:text="${post.text}"
	<div th:object="${識別子名(オブジェクト)}">
		<p th:text="*{プロパティ名}"></p>
	</div>
<body>
	<div th:each="post : ${searchShow}">
		<p th:text="${post.name}"></p>
		<p th:text="${post.text}"></p>
		<p th:text="${post.image}"></p>
		<p th:text="${post.id}"></p>
	</div>
</body> -->



</div>
</body>
</html>